.filter-container
  margin: 1em 0
  .small
    text-transform: uppercase
    +s-bold
    display: inline-block
    margin-right: 10px
  .filter
    border: 2px solid $grey500
    font-size: 12px
    padding: 0 6px
    margin: 6px 2px
    line-height: 26px
    cursor: pointer
    +s-bold
    @media #{$small-only}
      margin: 2px
    svg
      vertical-align: middle
      fill: $green
    &:hover
      border: 2px solid $green
      color: $green
    &.active
      background: $blueGrey900
      border: 2px solid $blueGrey900
      color: $green

  &.filter-years
    @media #{$small-only}
      display: none


  .selectize-input
    position: relative
    border: 2px solid $grey500
    padding: 0 30px 0 10px
    line-height: 26px
    width: 120px
