body
  +open-sans
  color: $blueGrey700
  @media #{$small-only}
    font-size: 14px

.row.columns-left
  .columns
    float: left !important

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right
    
.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.small
  font-size: 0.75em
.smaller
  font-size: 0.875em
.main-text
  font-size: 0.875em
  line-height: 1.7
  +light
.regular
  font-size: 1em
.larger
  font-size: 1.125em
.large
  font-size: 1.25em

.text-align-center
  text-align: center !important
.text-align-left
  text-align: left !important
.text-align-right
  text-align: right !important

.italic
  font-style: italic

.bold-title
  font-size: 1.75em
  line-height: 1.2
  text-transform: uppercase
  color: white
  +x-bold
  @media #{$xxlarge-up}
    font-size: 2em

.underlined-title
  display: inline-block
  font-size: 1.3125em
  color: $green
  +bold
  padding-bottom: 5px
  border-bottom: 4px solid $green

.wrapper-small-title
  font-size: 14px

.wrapper-inner-indent
  padding: 4em 0 2em
  @media #{$small-only}
    padding: 3em 0 1em
  .wrapper-small-title
    margin-bottom: 2em
    text-align: center

.bold-underlined
  position: relative
  +bold
  padding-bottom: 1em
  &:after
    content: ''
    display: block
    position: absolute
    width: 50px
    height: 2px
    background: $blueGrey700
    bottom: 0
    left: 0
  @media #{$small-only}
    margin-bottom: 1em

.mask
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.75)
  opacity: 0
  pointer-events: none
  z-index: 3
  +transition(0.25s)
  &.visible
    opacity: 1
    pointer-events: initial

a
  display: block
  cursor: pointer
  +transition(0.15s)

.accordion-button
  cursor: pointer
  .arrow-dropdown
    float: right
    width: 24px
    height: 24px
    svg
      width: 100%
      height: 100%
      fill: white
      +transition(0.2s)
  &.opened
    .arrow-dropdown
      svg 
        +rotate(180deg)
.accordion-inner
  overflow: hidden
  display: none
  +translate(0,0)

.img-background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-position: center
  background-size: cover
  +transition(0.2s)

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56.25%
  background-position: center
  background-size: cover

.motto
  position: relative
  width: 100%
  border: 5px solid $green
  padding: 1em 1em 8em
  max-width: 270px
  .bold-title
    font-size: 1.75em
    color: $green
  .logo
    position: absolute
    bottom: 1em
    left: 1em

a.text-link
  color: white
  svg
    width: 18px
    height: 18px
    fill: white
    vertical-align: middle
    margin-left: 1em

.float-right
  @media #{$medium-up}
    float: right !important
.float-left
  @media #{$medium-up}
    float: left !important

.text-link
  font-size: 14px
  opacity: 0.5
  color: white
  svg
    width: 18px
    height: 18px
    fill: white
    vertical-align: middle
    margin-left: 1em

.social-container
  position: relative
  .social
    width: 34px
    height: 34px
    margin-right: 4px
    &:last-child
      margin-right: 0
    svg
      width: 100%
      height: 100%
      fill: $blueGrey300
      +transition(fill 0.2s)
    &:hover
      svg
        fill: $green

.main-banner-wrapper
  position: relative
  height: 50vh
  min-height: 400px
  .text
    position: relative
    +y-align
    @media #{$small-only}
      text-align: center
      max-width: 90%
    @media #{$medium-up}
      padding-left: 120px
      max-width: 700px
      &:before
        content: ''
        display: block
        position: absolute
        top: 8px
        left: 0
        width: 100px
        height: 1px
        background: $blueGrey100
    @media #{$xxlarge-up}
      padding-left: 220px
      max-width: 900px
      &:before
        width: 200px
  .small
    color: $blueGrey300
    text-transform: uppercase
  .banner-title
    color: $green
    text-transform: uppercase
    line-height: 1
    margin-top: 20px
    +x-bold
    @media #{$small-only}
      font-size: 2em
    @media #{$medium-up}
      font-size: 2.5em
    @media #{$xxlarge-up}
      font-size: 3em

.main-slider-wrapper
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 80%
    bottom: 0
    left: 0
    background: $grey100
  .slider-set-dimension-container
    position: relative
    &:before
      content: ''
      display: block
      padding-bottom: 56%
    .slider-controls
      position: absolute
      top: 0
      right: 0
      +translate(0,-100%)
      padding-bottom: 16px
    .slider-inherit-dimension-container
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
    .main-slider
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0