body
  +open-sans
  color: $blueGrey700
  @media #{$small-only}
    font-size: 14px

.small
  font-size: 0.75em
.smaller
  font-size: 0.875em
.main-text
  font-size: 0.875em
  line-height: 1.7
  +light
.regular
  font-size: 1em
.larger
  font-size: 1.125em
.large
  font-size: 1.25em

.text-align-center
  text-align: center !important
.text-align-left
  text-align: left !important
.text-align-right
  text-align: right !important

.italic
  font-style: italic

.bold-title
  font-size: 1.75em
  line-height: 1.2
  text-transform: uppercase
  color: white
  +x-bold
  @media #{$xxlarge-up}
    font-size: 2em

.bold-underlined
  position: relative
  +bold
  padding-bottom: 1em
  &:after
    content: ''
    display: block
    position: absolute
    width: 50px
    height: 2px
    background: $blueGrey700
    bottom: 0
    left: 0
  @media #{$small-only}
    margin-bottom: 1em

.underlined-title
  display: inline-block
  font-size: 1.3125em
  color: $green
  +bold
  padding-bottom: 5px
  border-bottom: 4px solid $green

.text-link
  font-size: 14px
  opacity: 0.5
  color: white
  svg
    width: 18px
    height: 18px
    fill: white
    vertical-align: middle
    margin-left: 1em

.wrapper-small-title
  font-size: 14px
  margin-bottom: 2em

.cutted
  overflow: hidden
  text-overflow: ellipsis

.wrapper-inner-indent
  padding: 4em 0 2em
  @media #{$small-only}
    padding: 3em 0 1em
  .wrapper-small-title
    text-align: center
.top-inner-indent
  padding: 4em 0 0
  .wrapper-small-title
    text-align: center
.bottom-inner-indent
  padding: 0 0 4em
  .wrapper-small-title
    text-align: center
.inner-indent
  padding: 5em 0
  .wrapper-small-title
    text-align: center

.mask
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.75)
  opacity: 0
  pointer-events: none
  z-index: 9
  +transition(0.25s)
  &.visible
    opacity: 1
    pointer-events: initial

a
  display: block
  cursor: pointer
  +transition(0.15s)

.grey-bg
  background: $grey100

.motto
  position: relative
  width: 100%
  border: 5px solid $green
  padding: 1em 1em 8em
  max-width: 270px
  .bold-title
    font-size: 1.75em
    color: $green
  .logo
    position: absolute
    bottom: 1em
    left: 1em

.social-container
  position: relative
  .social
    width: 34px
    height: 34px
    margin-right: 4px
    &:last-child
      margin-right: 0
    svg
      width: 100%
      height: 100%
      fill: $blueGrey300
      +transition(fill 0.2s)
    &:hover
      svg
        fill: $green

.main-banner-wrapper
  position: relative
  height: 50vh
  min-height: 500px
  @media #{$small-only}
    min-height: 400px
  .row, .columns
    height: 100%
    position: relative
  .text
    position: relative
    +y-align
    z-index: 1
    @media #{$small-only}
      text-align: center
      max-width: 90%
    @media #{$medium-up}
      padding-left: 120px
      max-width: 700px
      &:before
        content: ''
        display: block
        position: absolute
        top: 12px
        left: 0
        width: 100px
        height: 1px
        background: $blueGrey100
    @media #{$xxlarge-up}
      padding-left: 220px
      max-width: 900px
      &:before
        width: 200px
    &.wide
      width: 1000px
      max-width: calc(100% - 2*0.625em)
      min-height: 200px
    &.media
      .banner-title
        color: white
  .small
    color: $blueGrey300
    text-transform: uppercase
    display: inline-block
    &.green
      color: $green
  a.small
    &:hover
      color: $green
  span.separator
    color: $blueGrey300
    font-size: 0.75em
  .banner-title
    color: $green
    text-transform: uppercase
    line-height: 1
    margin: 20px 0
    +x-bold
    @media #{$small-only}
      font-size: 2em
    @media #{$medium-up}
      font-size: 2.5em
    @media #{$xxlarge-up}
      font-size: 3em
      line-height: 1.2

  .button
    margin-top: 20px

.manufacturer-field
  .brand-name
    font-size: 12px
    color: $green
    text-transform: uppercase
  .line
    width: 1px
    height: 18px
    background: $blueGrey600
    margin: 0 6px
  .year
    font-size: 12px
    color: $blueGrey200

.main-slider-wrapper, .main-bg-img
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 80%
    bottom: 0
    left: 0
    background: $grey100
  .slider-set-dimension-container
    position: relative
    &:before
      content: ''
      display: block
      padding-bottom: 56%
    .slider-controls
      position: absolute
      top: 0
      right: 0
      +translate(0,-100%)
      padding-bottom: 16px
    .slider-inherit-dimension-container
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
    .main-slider
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0

ul.standart-list
  margin-top: 2em
  margin-bottom: 2em
  li
    position: relative
    margin: 1em 0
    padding-left: 20px
    font-size: 0.875em
    +light
    &:before
      content: '\2014'
      color: $green
      position: absolute
      top: 0
      left: 0

.filter-container
  margin: 1em 0
  .small
    text-transform: uppercase
    +s-bold
    display: inline-block
    margin-right: 10px
  .filter
    border: 2px solid $grey500
    font-size: 12px
    padding: 0 6px
    margin: 6px 0
    line-height: 26px
    cursor: pointer
    svg
      vertical-align: middle
      fill: $green
    &:hover
      border: 2px solid $green
      color: $green
    &.active
      background: $blueGrey900
      border: 2px solid $blueGrey900
      color: $green

.link-container
  margin: 30px 0
  border-top: 1px solid $grey400
  border-bottom: 1px solid $grey400
  @media #{$small-only}
    margin: 20px 0
  @media #{$large-up}
    border-top: 0
    border-bottom: 0
    margin: 60px 0

  .link
    display: none
    position: relative
    margin: 10px 0
    padding: 0 16px
    font-size: 1.125em
    color: $grey400
    +x-bold
    text-transform: uppercase
    @media #{$xxlarge-up}
      font-size: 1.25em
    &:last-child
      &:before
        display: none
    &:first-child
      @media #{$large-up}
        margin-left: -16px
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 1px
      height: 24px
      background: $grey400
      display: none
      @media #{$large-up}
        display: block

    &:hover
      color: $green
    &.active
      display: block
      color: $green
      &:after
        content: ''
        width: 0
        height: 0
        border: 6px solid transparent
        border-color: $grey400 transparent transparent transparent
        position: absolute
        top: 10px
        right: 10px
        @media #{$large-up}
          display: none
    &.opened
      &:after
        border-color: transparent transparent $grey400 transparent
        top: 4px
    &.visible
      display: block
    @media #{$large-up}
      display: inline-block
      vertical-align: middle
      &.active
        display: inline-block

.summary-info
  border: 5px solid $green
  padding: 1em
  .small
    text-transform: uppercase
  .regular
    color: $green
    +x-bold
    text-transform: uppercase
    margin-bottom: 2em