.header-container
  position: fixed
  padding: 0 3em
  width: 100%
  height: 110px
  background: white
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-between
  +transition-property(all)
  +transition-duration(1s)
  +translate(0,-100%)
  z-index: 1
  &.scrolled, &.visible
    +translate(0,0)
    position: fixed
  &.visible
    position: absolute
  @media #{$small-only}
    padding: 0 2em
    height: 70px
  .logo
    width: 42px
    height: 66px
    margin-right: auto
    @media #{$small-only}
      width: 30px
      height: 48px
    svg
      width: 100%
      height: 100%
  .logo, .right-part
    align-self: center
  .right-part
    margin-left: auto
    .icon
      margin-right: 10px
      @media #{$small-only}
        display: none
    .larger
      +x-bold
      color: $green
      line-height: 1
    .small
      color: $blueGrey400

  &.menu-opened
    z-index: 7
    background: transparent
    a.dib
      display: none

  //     H a m b u r g e r
  
  .hamburger-box
    width: 32px
    margin-left: 4em
    cursor: pointer
  .hamburger-inner
    width: 100%
    background: $green
    &:before, &:after
      width: 100%
      background: $green