.header-container
  position: fixed
  padding: 0 3em
  width: 100%
  height: 90px
  background: white
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-between
  +transition-property(transform)
  +transition-duration(1s)
  +translate(0,-100%)
  z-index: 11
  &.scrolled, &.visible
    +translate(0,0)
    position: fixed
  &.visible
    // position: absolute
  @media #{$small-only}
    padding: 0 2em
    height: 70px
  @media #{$xxlarge-up}
    height: 110px
  .logo
    width: 42px
    height: 66px
    margin-right: auto
    @media #{$small-only}
      width: 30px
      height: 48px
    svg
      width: 100%
      height: 100%
  .logo, .right-part
    align-self: center
  .right-part
    margin-left: auto
    .icon
      margin-right: 10px
      @media #{$small-only}
        display: none
    .larger
      +x-bold
      color: $green
      line-height: 1
    .small
      color: $blueGrey400

  &.menu-opened
    z-index: 7
    background: transparent
    pointer-events: none
    a.dib
      display: none
    .logo, .hamburger
      pointer-events: initial

  //     H a m b u r g e r
  
  .hamburger
    margin-left: 4em
    @media #{$small-only}
      margin-right: -20px
    .hamburger-box
      width: 32px
      cursor: pointer
      .hamburger-inner
        width: 100%
        background: $blueGrey300
        border-radius: 0
        &:before, &:after
          width: 100%
          background: $blueGrey300
          border-radius: 0
    &:hover
      opacity: 1
      .hamburger-inner
        background: $green
        &:before, &:after
          background: $green
    &.is-active
      .hamburger-inner
        background: transparent
        &:before, &:after
          background: $blueGrey400
      &:hover
        .hamburger-inner
          &:before, &:after
            background: $green
