.fullpage-banner-wrapper
  width: 100%
  height: 100vh
  overflow: hidden

  .fullpage-banner-slider
    position: relative
    height: 100%

  .banner-text
    +x-align
    bottom: 30%
    color: white
    text-align: center
    +transition(0.2s)
    opacity: 0
    width: 600px
    max-width: 100%
    .line
      width: 100%
      height: 1px
      background: white
      margin: 10px 0
      @media #{$small-only}
        width: 40px
        margin: 10px auto
    .header
      font-size: 60px
      +x-bold
      line-height: 1
      text-transform: uppercase
      margin: 10px 0 20px
      @media #{$small-only}
        font-size: 30px
      @media #{$xxlarge-up}
        font-size: 72px
    .button
      margin-top: 3em
    .animated
      @for $i from 1 through 5
        &:nth-child(#{$i})
          transform: translate(0, #{$i*30px})
          opacity: 0
          transition: all #{$i*0.1s} cubic-bezier(0.19, 1, 0.22, 1)
    &.visible
      +transition-delay(0.5s)
      opacity: 1
      .animated
        @for $i from 1 through 5
          &:nth-child(#{$i})
            transform: translate(0,0)
            opacity: 1
            transition: all #{$i*0.25s} cubic-bezier(0.645, 0.045, 0.355, 1)



  .fullpage-banner-bottom
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 90px
    @media #{$small-only}
      height: 70px
    .inner
      background: white
      height: 100%
      padding: 30px
      @media #{$small-only}
        padding: 20px
      .columns
        height: 100%

    .custom-pager
      margin-left: 1em

    .go-down
      +xy-align
      background: $blueGrey50
      width: 38px
      height: 38px
      border-radius: 50%
      svg
        fill: $blueGrey900
        +centered-inside
    .contact-us
      float: right
      .line-separator
        width: 1px
        height: 28px
        background: $blueGrey400
        @media #{$medium-up}
          display: none
      .icon
        svg
          fill: $blueGrey600
      .smaller
        color: $blueGrey600
        margin-left: 10px
        @media #{$small-only}
          display: none



.media-wrapper
  .underlined-title
    margin: 2em 0
    @media #{$small-only}
      display: none
  .button
    color: $green
    border: 2px solid $green
    margin-top: 2em
  .new-block
    position: relative
    border-bottom: 1px solid $blueGrey200
    margin-bottom: 1em
    +transition(0.2s)
    .larger
      +s-bold
      +transition(0.2s)
    .date
      font-size: 12px
      color: $blueGrey400
      margin: 1em 0
    .hover-arrow
      position: absolute
      right: 0
      bottom: 0
      opacity: 0
      +transition(0.2s)
      +translate(-100%,0)
      svg
        fill: $green
    &:hover
      border-bottom: 1px solid $green
      .larger
        color: $green
      .hover-arrow
        opacity: 1
        +translate(0,0)
  .blog-block
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    .img, .text
      position: relative
    .img
      width: 25%
      overflow: hidden
      flex-grow: 1
      &:before
        +square
    &:hover
      .img-background
        +scale(1.1)
    .text
      width: 75%
      background: $blueGrey900
      padding: 1em
    .small
      color: $green
      text-transform: uppercase
    .blog-title
      font-size: 1.5em
      color: white
      text-transform: uppercase
      line-height: 1.2
    .date
      font-size: 12px
      color: $blueGrey400
      position: absolute
      bottom: 1em
      left: 1em
    @media #{$small-only}
      flex-direction: column
      .img
        width: 100%
        height: 0
        padding-bottom: 56.25%
      .text
        width: 100%
        padding-bottom: 30%

  .tab-buttons
    position: relative
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    padding: 30px 0.625em
    @media #{$medium-up}
      display: none
    .tab-button
      flex-grow: 1
      text-align: center
      font-size: 18px
      color: $blueGrey100
      text-transform: uppercase
      +bold
      &.active
        color: $green
      &:nth-child(n+2)
        border-left: 1px solid $blueGrey100

  .tab-content-wrapper
    @media #{$small-only}
      .tab-content
        display: none
        &.active
          display: block

.contact-wrapper
  
  &.wrapper-inner-indent
    padding-bottom: 0
  .wrapper-small-title
    text-align: center
  .contact-block
    float: left
    width: 50%
    background: $grey100
    &:first-child
      padding: 3em
    @media #{$small-only}
      width: 100%
    &:last-child
      position: absolute
      height: 100%
      @media #{$small-only}
        position: relative
        height: 300px
  .dib
    @media #{$small-only}
      display: block
  .line
    width: 100%
    height: 1px
    background: $blueGrey100
    margin: 2em 0
  .info-block
    margin: 0 2em 3em 0
    .small
      margin-bottom: 1em
      text-transform: uppercase
    .larger
      +bold
      color: $green
  .button
    color: $blueGrey400
    border: 2px solid $blueGrey400
  
  #googleMap
    height: 100%