.menu-wrapper
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: $grey50
  overflow: hidden
  z-index: 6
  +transition(0.5s)
  opacity: 0
  pointer-events: none
  &.opened
    opacity: 1
    pointer-events: initial
  
  .logo
    padding-top: 1.75em
    padding-left: 3em

  .close-menu
    position: absolute
    top: 2.5em
    right: 3em
    width: 40px
    height: 40px
    z-index: 2
    cursor: pointer
    svg
      fill: $blueGrey50
      width: 100%
      height: 100%
    &:hover
      svg
        fill: $green


  .menu-link-container
    +y-align
    top: 44%
    z-index: 2
    @media #{$small-only}
      top: 80px
      +translate(0,0)
    .menu-link
      +x-bold
      font-size: 2.5em
      text-transform: uppercase
      cursor: pointer
      max-width: 350px
      @media #{$small-only}
        font-size: 24px
      @media #{$xxlarge-up}
        font-size: 3em
      &:hover
        color: $green
      ul
        position: absolute
        top: 20px
        right: 0
        padding-left: 100px
        +translate(100%,0)
        pointer-events: none
        opacity: 0
        +transition(opacity 0.5s)
        &:before
          content: ''
          display: block
          width: 60px
          height: 1px
          background: $blueGrey300
          position: absolute
          top: 20px
          left: 20px
          opacity: 0
          +transition(0.2s)
        li
          font-size: 14px
          color: $blueGrey600
          text-transform: uppercase
          font-weight: 400
          padding: 10px 0
          +transition(color 0.2s)
          cursor: pointer
          &:hover
            color: $green
        .animated
          +before-hover(20px,0.1s)
      &:hover
        ul
          pointer-events: initial
          opacity: 1
          &:before
            opacity: 1
          .animated
            +on-hover(0.15s)
  
    .menu-link.animated
      +before-hover(20px,0.1s)
    .social-container
      margin-top: 20px
      .social
        +before-hover(50%,0.05s)
      @media #{$medium-up}
        display: none
  &.opened
    .menu-link.animated
      +on-hover(0.1s)
    .social-container
      .social
        +on-hover(0.1s, 0.6s)

  .menu-brands-container
    position: absolute
    top: 0
    right: 0
    width: 30%
    height: 100%
    background: white
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    @media #{$medium-only}
      width: 40%
    .svg-text
      position: absolute
      bottom: 5%
      left: -75px
      width: 100px
    .menu-brand
      position: relative
      width: 100%
      height: calc(100% / 3)
      z-index: 1
      background: white
      border-bottom: 1px solid $grey200
      overflow: hidden
      &:last-child
        border-bottom: 0
      .bg-color
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        +transition(opacity 0.5s)
      .bg-icon
        position: absolute
        width: 100%
        right: 0
        top: 0
        transform: translate(35%,-25%) rotate(-150deg)
        opacity: 0
        z-index: 1
        +transition(opacity 0.5s)
        svg
          fill: rgba(white, 0.2)
          width: 100%
          height: 100%
      .brand-img
        position: absolute
        width: 40%
        height: 100%
        top: 0
        left: 0
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        z-index: 1
      .text
        +y-align
        width: 60%
        left: 40%
        z-index: 1
        height: 140px
      .brand-icon
        width: 60px
        height: 36px
        margin-left: -10px
        svg
          width: 100%
          height: 100%
          fill: $blueGrey600
          +transition(fill 0.5s)
      .brand-name
        color: $blueGrey600
        font-size: 1.5em
        text-transform: uppercase
        +x-bold
        line-height: 1.2
        +transition(color 0.5s)
        @media #{$xxlarge-up}
          font-size: 2em
      .text-link
        +transition(0.5s)
        opacity: 0
      &:hover
        .bg-color, .bg-icon, .text-link
          opacity: 1
        .brand-icon
          svg
            fill: white
        .brand-name
          color: white
    @media #{$small-only}
      flex-direction: row
      width: 100%
      height: 80px
      top: initial
      bottom: 0
      .svg-text
        display: none
      .menu-brand
        height: 100%
        border-bottom: 0
        &:hover
          .brand-icon
            svg
              fill: $green
      .bg-color, .bg-icon, .brand-img, .brand-name, .text-link
        display: none
      .text
        position: relative
        height: 100%
      .brand-icon
        +centered-inside

  .bottom-part
    position: absolute
    width: 100%
    bottom: 40px
    left: 0
    color: $blueGrey600
    font-size: 10px
    text-transform: uppercase
    .animate
      +before-hover(30px,0.1s)
    .request-button
      padding: 0 2em
      cursor: pointer
      +transition(color 0.2s)
      svg
        width: 34px
        height: 34px
        fill: $blueGrey300
        vertical-align: middle
        +transition(fill 0.2s)
      &:hover
        color: $green
        svg
          fill: $green
    .line
      width: 1px
      height: 26px
      background: $blueGrey300
    @media #{$small-only}
      display: none
  &.opened
    .bottom-part
      .animate
        +on-hover(0.1s,0.5s)