.vacancy-one-wrapper

  .main-text
    margin-bottom: 10px

  .standart-list
    margin-top: 10px

  .attach-file-field
    position: relative
    padding-left: 30px
    color: $green
    +bold
    line-height: 1.2
    margin-bottom: 3em
    svg
      position: absolute
      top: 0
      left: 0
      width: 20px
      height: 20px
    span
      color: $blueGrey300
      font-weight: 400
      font-size: 13px
    label
      cursor: pointer